$base-color-blue: #1890ff;
$base-color-green: #13ce66;
$base-color-yellow: #ffba00;
$base-color-orange: #ff6700;
$base-color-red: #ff4d4f;

:export {
  vab-color-black: $base-color-black;
  vab-color-primary: $base-color-blue;
  vab-color-primary-light-1: mix($base-color-white, $base-color-blue, 10%);
  vab-color-primary-light-2: mix($base-color-white, $base-color-blue, 20%);
  vab-color-primary-light-3: mix($base-color-white, $base-color-blue, 30%);
  vab-color-primary-light-4: mix($base-color-white, $base-color-blue, 40%);
  vab-color-primary-light-5: mix($base-color-white, $base-color-blue, 50%);
  vab-color-primary-light-6: mix($base-color-white, $base-color-blue, 60%);
  vab-color-primary-light-7: mix($base-color-white, $base-color-blue, 70%);
  vab-color-primary-light-8: mix($base-color-white, $base-color-blue, 80%);
  vab-color-primary-light-9: mix($base-color-white, $base-color-blue, 90%);
  vab-color-success: $base-color-green;
  vab-color-success-light: mix($base-color-white, $base-color-green, 80%);
  vab-color-success-lighter: mix($base-color-white, $base-color-green, 90%);
  vab-color-warning: $base-color-yellow;
  vab-color-warning-light: mix($base-color-white, $base-color-yellow, 80%);
  vab-color-warning-lighter: mix($base-color-white, $base-color-yellow, 90%);
  vab-color-danger: $base-color-red;
  vab-color-danger-light: mix($base-color-white, $base-color-red, 80%);
  vab-color-danger-lighter: mix($base-color-white, $base-color-red, 90%);
  vab-color-error: $base-color-red;
  vab-color-error-light: mix($base-color-white, $base-color-red, 80%);
  vab-color-error-lighter: mix($base-color-white, $base-color-red, 90%);
  vab-color-info: #909399;
  vab-color-info-light: mix($base-color-white, #909399, 80%);
  vab-color-info-lighter: mix($base-color-white, #909399, 90%);
  vab-border-radius-base: 2.5px;
}
