/**
 * @description 蓝-白
 */

body.vab-theme-blue-white {
  $base-menu-background: #fff;
  $base-color-blue: #1890ff;
  $base-color-blue-light: mix($base-color-white, $base-color-blue, 90%);

  @import '../default.scss';

  @mixin container {
    color: #515a6e !important;
    background: $base-menu-background !important;
  }

  @mixin container-column {
    color: #515a6e !important;
    background: #f7f9ff !important;
  }

  @mixin active {
    &:hover {
      color: $base-color-blue !important;
      background-color: $base-color-blue-light !important;
      svg,
      i,
      span[title] {
        color: $base-color-blue !important;
      }
    }

    &.is-active {
      color: $base-color-blue !important;
      background-color: $base-color-blue-light !important;
      svg,
      i,
      span[title] {
        color: $base-color-blue !important;
      }
    }
  }

  .logo-container-common,
  .logo-container-vertical,
  .logo-container-horizontal,
  .logo-container-comprehensive,
  .logo-container-float {
    @include container;

    .title,
    .vab-icon {
      @include container;
    }
  }

  .logo-container-column {
    @include container;

    .title {
      @include container;
    }

    .logo,
    .vab-icon {
      @include container-column;
    }
  }

  .vab-column-bar-container {
    .el-tabs {
      @include container-column;

      .el-tabs__nav-wrap.is-left {
        background: #f7faff !important;
      }

      .el-tabs__item,
      .el-tabs__nav {
        @include container-column;
      }

      .el-tabs__item.is-active {
        color: $base-color-white !important;
        background: $base-color-blue !important;
      }
    }

    .el-menu {
      .el-menu-item.is-active,
      .el-sub-menu__title.is-active,
      .el-menu-item:hover,
      .el-sub-menu__title:hover {
        i {
          color: $base-color-blue !important;
        }

        color: $base-color-blue !important;
        background-color: $base-color-blue-light !important;
      }
    }

    &-card {
      .el-tabs {
        .el-tabs__item {
          &.is-active {
            background: transparent !important;
          }
        }
      }
    }

    &-arrow {
      .el-tabs {
        .el-tabs__item {
          &.is-active {
            color: $base-color-black !important;
            background: transparent !important;

            .vab-column-grid {
              background: transparent !important;
            }
          }
        }
      }
    }
  }

  .vab-layout-vertical,
  .vab-layout-horizontal,
  .vab-layout-comprehensive,
  .vab-layout-common,
  .vab-layout-float {
    .el-menu {
      @include container;

      .el-sub-menu .el-sub-menu__title,
      .el-menu-item {
        @include container;
      }
    }

    .vab-side-bar,
    .comprehensive-bar-container {
      @include container;
      box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08) !important;

      .el-menu-item {
        @include active;
      }
    }
  }

  .vab-layout-float {
    .el-scrollbar__view .el-menu--collapse.el-menu li.el-sub-menu.is-active {
      .el-sub-menu__title {
        background-color: transparent !important;
      }

      > .el-sub-menu__title {
        color: $base-color-blue !important;
        background-color: $base-color-blue-light !important;
      }
    }
  }

  .vab-header {
    @include container;

    .vab-main {
      @include container;

      .right-panel {
        .user-name,
        .user-name *,
        > i,
        > div > i,
        > span > i,
        > div > span > i,
        > svg,
        > div > svg,
        > span > svg,
        > div > span > svg,
        .ri-notification-line,
        .ri-translate,
        .ri-bug-line {
          @include container;
        }

        .el-menu {
          &--horizontal {
            .el-sub-menu .el-sub-menu__title,
            .el-menu-item {
              @include active;
            }

            .el-sub-menu,
            .el-menu-item {
              &.is-active {
                @include active;
              }
            }

            .el-sub-menu.is-active {
              .el-sub-menu__title {
                background-color: $base-color-blue-light !important;
                @include active;
              }
            }
          }
        }
      }
    }
  }

  .vab-tabs {
    &-more {
      &-active,
      &:hover {
        .vab-tabs-more-icon {
          .box:before,
          .box:after {
            background: $base-color-blue !important;
          }
        }
      }
    }

    .vab-tabs-content-card {
      .el-tabs__header {
        .el-tabs__item {
          &.is-active {
            color: $base-color-blue !important;
            background: mix(
              $base-color-white,
              $base-color-blue,
              90%
            ) !important;
            border: 1px solid $base-color-blue !important;
          }

          &:hover {
            border: 1px solid $base-color-blue !important;
          }
        }
      }
    }

    .vab-tabs-content-smart {
      .el-tabs__header {
        .el-tabs__item {
          &.is-active {
            background: mix(
              $base-color-white,
              $base-color-blue,
              90%
            ) !important;
          }

          &:after {
            background-color: $base-color-blue !important;
          }

          &:hover {
            background: mix(
              $base-color-white,
              $base-color-blue,
              90%
            ) !important;
          }
        }
      }
    }

    .vab-tabs-content-smooth {
      .el-tabs__header {
        .el-tabs__item {
          &.is-active {
            color: $base-color-blue !important;
            background: mix(
              $base-color-white,
              $base-color-blue,
              90%
            ) !important;

            &:hover {
              color: $base-color-blue !important;
              background: mix(
                $base-color-white,
                $base-color-blue,
                90%
              ) !important;
            }
          }

          &:hover {
            color: $base-color-black !important;
          }
        }
      }
    }
  }

  /*由于element-plus
 bug使用popper-append-to-body=false会导致多级路由无法显示，故所有菜单必须生成至body下，样式必须放到body下*/

  .el-menu {
    border-right: 0;
  }

  .el-popper .el-menu--vertical .el-sub-menu.is-active .el-sub-menu__title,
  .el-menu--collapse.el-menu li.el-sub-menu.is-active > .el-sub-menu__title {
    color: $base-color-blue !important;
    background-color: $base-color-blue-light !important;

    i {
      color: $base-color-blue !important;
    }
  }

  .el-popper {
    .el-menu--horizontal {
      background: $base-color-white !important;

      .el-menu.el-menu--popup {
        background: $base-color-white !important;
      }

      .el-menu-item,
      .el-sub-menu .el-sub-menu__title {
        color: $base-color-black !important;
        background: $base-color-white !important;
      }

      .el-sub-menu .el-sub-menu__title,
      .el-menu-item {
        @include active;
      }
    }

    .el-menu--vertical {
      .el-menu.el-menu--popup {
        color: $base-color-black !important;
        background: $base-color-white !important;
      }

      .el-menu-item,
      .el-sub-menu__title {
        color: $base-color-black !important;
        background: $base-color-white !important;

        i {
          color: inherit;
        }
      }

      .el-menu-item {
        &:hover {
          color: $base-color-blue;
          background-color: $base-color-blue-light !important;
        }

        &.is-active {
          color: $base-color-white;
          background-color: $base-color-blue-light !important;
        }
      }
    }

    .el-menu-item {
      &.is-active {
        background: $base-color-blue !important;
      }
    }
  }

  .el-menu {
    .el-menu-item.is-active,
    .el-sub-menu__title.is-active,
    .el-menu-item:hover,
    .el-sub-menu__title:hover {
      i {
        color: $base-color-blue !important;
      }

      color: $base-color-blue !important;
      background-color: $base-color-blue-light !important;
    }
  }
}
